.waitingBox {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: red;
}

#datepicker1 {
	position: relative;
	z-index: 50;
}

#ui-datepicker-div {
	min-width: 300px;
	max-width: 100%;
}

.panel-default {
	margin-top: 120px;
}

@media only screen and (max-width: 760px) {
.panel-default {
	margin-top: 90px;
}
}